<ish-info-box heading="account.quotes.widget.my_quotes.heading" class="infobox-wrapper" cssClass="infobox-color-widget">
  <div class="loading-container">
    <div *ngIf="!(loading$ | async); else spinner">
      <div class="row no-gutters">
        <div class="col align-self-end">
          <div>
            <div class="infobox-count" data-testing-id="responded-counter">
              {{ respondedQuotes$ | async }}
            </div>
            <div>
              {{ 'account.quotes.widget.responded.label' | translate }}
            </div>
          </div>
        </div>
        <div class="col align-self-end">
          <div class="text-right">
            <div class="infobox-count-large" data-testing-id="submitted-counter">
              {{ submittedQuoteRequests$ | async }}
            </div>
            <div>
              {{ 'account.quotes.widget.submitted.label' | translate }}
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <a routerLink="/account/quotes" data-testing-id="quote-list-link">
            {{ 'account.quotes.widget.view_all_quotes.link' | translate }}
          </a>
        </div>
      </div>
    </div>
    <ng-template #spinner>
      <ish-loading></ish-loading>
    </ng-template>
  </div>
</ish-info-box>
